
body { font-family: Arial; background:#111; color:white; text-align:center; padding:20px;}
button { padding:12px; margin:8px; background:#2ecc71; border:none; border-radius:6px; font-weight:bold;}
img { width:300px; margin:10px; border-radius:10px;}
.section { margin-top:20px; padding:15px; background:#1f1f1f; border-radius:8px;}
